.playing-card.rank-1.hearts { background-image: url(../img/cards/1h.png); }
.playing-card.rank-2.hearts { background-image: url(../img/cards/2h.png); }
.playing-card.rank-3.hearts { background-image: url(../img/cards/3h.png); }
.playing-card.rank-4.hearts { background-image: url(../img/cards/4h.png); }
.playing-card.rank-5.hearts { background-image: url(../img/cards/5h.png); }
.playing-card.rank-6.hearts { background-image: url(../img/cards/6h.png); }
.playing-card.rank-7.hearts { background-image: url(../img/cards/7h.png); }
.playing-card.rank-8.hearts { background-image: url(../img/cards/8h.png); }
.playing-card.rank-9.hearts { background-image: url(../img/cards/9h.png); }
.playing-card.rank-10.hearts { background-image: url(../img/cards/10h.png); }
.playing-card.rank-11.hearts { background-image: url(../img/cards/11h.png); }
.playing-card.rank-12.hearts { background-image: url(../img/cards/12h.png); }
.playing-card.rank-13.hearts { background-image: url(../img/cards/13h.png); }

.playing-card.rank-1.spades { background-image: url(../img/cards/1s.png); }
.playing-card.rank-2.spades { background-image: url(../img/cards/2s.png); }
.playing-card.rank-3.spades { background-image: url(../img/cards/3s.png); }
.playing-card.rank-4.spades { background-image: url(../img/cards/4s.png); }
.playing-card.rank-5.spades { background-image: url(../img/cards/5s.png); }
.playing-card.rank-6.spades { background-image: url(../img/cards/6s.png); }
.playing-card.rank-7.spades { background-image: url(../img/cards/7s.png); }
.playing-card.rank-8.spades { background-image: url(../img/cards/8s.png); }
.playing-card.rank-9.spades { background-image: url(../img/cards/9s.png); }
.playing-card.rank-10.spades { background-image: url(../img/cards/10s.png); }
.playing-card.rank-11.spades { background-image: url(../img/cards/11s.png); }
.playing-card.rank-12.spades { background-image: url(../img/cards/12s.png); }
.playing-card.rank-13.spades { background-image: url(../img/cards/13s.png); }

.playing-card.rank-1.clubs { background-image: url(../img/cards/1c.png); }
.playing-card.rank-2.clubs { background-image: url(../img/cards/2c.png); }
.playing-card.rank-3.clubs { background-image: url(../img/cards/3c.png); }
.playing-card.rank-4.clubs { background-image: url(../img/cards/4c.png); }
.playing-card.rank-5.clubs { background-image: url(../img/cards/5c.png); }
.playing-card.rank-6.clubs { background-image: url(../img/cards/6c.png); }
.playing-card.rank-7.clubs { background-image: url(../img/cards/7c.png); }
.playing-card.rank-8.clubs { background-image: url(../img/cards/8c.png); }
.playing-card.rank-9.clubs { background-image: url(../img/cards/9c.png); }
.playing-card.rank-10.clubs { background-image: url(../img/cards/10c.png); }
.playing-card.rank-11.clubs { background-image: url(../img/cards/11c.png); }
.playing-card.rank-12.clubs { background-image: url(../img/cards/12c.png); }
.playing-card.rank-13.clubs { background-image: url(../img/cards/13c.png); }

.playing-card.rank-1.diams { background-image: url(../img/cards/1d.png); }
.playing-card.rank-2.diams { background-image: url(../img/cards/2d.png); }
.playing-card.rank-3.diams { background-image: url(../img/cards/3d.png); }
.playing-card.rank-4.diams { background-image: url(../img/cards/4d.png); }
.playing-card.rank-5.diams { background-image: url(../img/cards/5d.png); }
.playing-card.rank-6.diams { background-image: url(../img/cards/6d.png); }
.playing-card.rank-7.diams { background-image: url(../img/cards/7d.png); }
.playing-card.rank-8.diams { background-image: url(../img/cards/8d.png); }
.playing-card.rank-9.diams { background-image: url(../img/cards/9d.png); }
.playing-card.rank-10.diams { background-image: url(../img/cards/10d.png); }
.playing-card.rank-11.diams { background-image: url(../img/cards/11d.png); }
.playing-card.rank-12.diams { background-image: url(../img/cards/12d.png); }
.playing-card.rank-13.diams { background-image: url(../img/cards/13d.png); }

.playing-card.hideCard {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -vendor-animation-duration: 2s;
    -vendor-animation-iteration-count: infinite;
    background-image: url(../img/cards/back.png) !important;
    box-shadow: 0 0 15px 3px #BFA2A2;
    cursor: hand;
}

.playing-card {
    background-repeat: no-repeat;
    background-size: contain;
    height: 110px;
    width: 78px;
}

.playing-card-parent-div {
    display: inline-block;
    margin-right: 10px;
}