html {
    background: url('../img/background.jpg') no-repeat;
    background-size: 100% 100%;
}

.cards-rows {
    height: 100px;
}

#background-image {
    border-radius: 0 0 560px 560px;
    background: url('../img/table.jpg') no-repeat;
    background-size: 100% 100%;
    border: 30px solid #000000;
}

#background-image:before{
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:0;
    left:-8px;
    right:-8px;
    bottom:-10px;
    border-radius: 0 0 600px 600px;
    border:10px solid #8B4513;
}

.start-game-buttons {
    display: inline-block !important;
    margin-right: 5px;
}

.start-game-text {
    display: block;
    color: white;
}

#deal {
    animation-duration: 1.5s;
    -vendor-animation-duration: 1.5s;
}

#top-icons {
    animation-duration: 1.5s;
    -vendor-animation-duration: 1.5s;
}

#bottom-icons {
    animation-duration: 10s;
    animation-delay: 1s;
    -vendor-animation-duration: 10s;
    -vendor-animation-delay: 1s;
}

.container {
    width: 85% !important;
    height: 610px;
}

.text-white {
    color: white;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.cards-hand {
    margin-bottom: 0 !important;
}

.rules {
    top: 5%;
    left: 3%;
    position: fixed;
}

.team {
    top: 5%;
    right: 3%;
    position: fixed;
}

.advice {
    padding-top: 10%;
}

.advice-fade {
    animation-duration: 2s;
    -vendor-animation-duration: 2s;
}

.advice-shake {
    padding: 15px 15px !important;
    animation-delay: 10s;
    animation-duration: 2s;
    -vendor-animation-delay: 10s;
    -vendor-animation-duration: 2s;
}

.wins-loses {
    bottom: 5%;
    right: 3%;
    position: fixed;
}

.no-hover {
    cursor: default;
}

.advice-hover {
    cursor: help;
}

.manual-mode-box {
    padding-left: 3% !important;
}

.manual-mode-text {
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

.web-counter {
    bottom: 5%;
    left: 3%;
    position: fixed;
}

.manual-card-modal-div {
    padding: 0 !important;
    width: 7.6% !important;
}