html {
    background: url('../img/background.jpg') no-repeat;
    background-size: 100% 100%;
}

.cards-rows {
    height: 100px;
}

#background-image {
    border-radius: 0 0 560px 560px;
    background: url('../img/table.jpg') no-repeat;
    background-size: 100% 100%;
    border: 30px solid #000000;
}

#background-image:before{
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:0;
    left:-8px;
    right:-8px;
    bottom:-10px;
    border-radius: 0 0 600px 600px;
    border:10px solid #8B4513;
}

.start-game-buttons {
    display: inline-block !important;
    margin-right: 5px;
}

.start-game-text {
    display: block;
    color: white;
}

#deal {
    animation-duration: 1.5s;
    -vendor-animation-duration: 1.5s;
}

#top-icons {
    animation-duration: 1.5s;
    -vendor-animation-duration: 1.5s;
}

#bottom-icons {
    animation-duration: 10s;
    animation-delay: 1s;
    -vendor-animation-duration: 10s;
    -vendor-animation-delay: 1s;
}

.container {
    width: 85% !important;
    height: 610px;
}

.text-white {
    color: white;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.cards-hand {
    margin-bottom: 0 !important;
}

.rules {
    top: 25px;
    left: 50px;
    position: fixed;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.team {
    top: 25px;
    right: 50px;
    position: fixed;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.advice {
    bottom: 45px;
    left: 70px;
    position: fixed;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.wins-loses {
    bottom: 45px;
    right: 70px;
    position: fixed;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.no-hover {
    cursor: default;
}

.wins-loses-hover {
    cursor: progress;
}

.advice-hover {
    cursor: help;
}