.wood-button {
    position: relative;
    border: none;
    display: inline-block;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
    inset 0px -5px 0px 0px rgba(0,0,0,0.3),
    inset 0px 2px 0px 0px rgba(255,255,255,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    overflow: hidden;
    cursor: pointer;
    margin: 36px;
}

.wood-button:active {
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
    inset 0px -2px 0px 0px rgba(0,0,0,0.3),
    inset 0px 2px 0px 0px rgba(255,255,255,0.5);
    top: 3px;
}

.wood-button div {
    padding: 10px 20px 12px 20px;
    color: rgba(0,0,0,0.7);
    text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
}

.wood-button:active div {
    padding-bottom: 9px;
}

.wood {
    background: url('../img/wood2.png');
    background-repeat: no-repeat;
    border-radius: 5px;
}