<html ng-app="ngBlackJack">
<head>
    <meta charset="UTF-8">
    <title>RTST BlackJack</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/materialize/materialize.min.css">
    <link rel="stylesheet" href="css/materialize/material-icons.css">

    <!-- JavaScript -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <script src="js/materialize/materialize.min.js"></script>
    <script src="js/angular-1.5.6/angular.min.js"></script>
    <script src="js/services/strategy-tables/surrenderAgainst2to10.js"></script>

    <!-- JavaScript Custom -->
    <script src="js/strategy-tables/surrenderAgainst2to10.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/card.js"></script>
    <script src="js/services/deck.js"></script>
    <script src="js/services/player.js"></script>

</head>
<body ng-controller="ngGame">
    <div class="container">
        <div class="row">
            <div class="center">
                <h1>RTST BlackJack</h1>
            </div>
        </div>

        <div class="row center">
            <div>
                <span>Dealer Sum of Cards: {{DealerHandSum}}</span>
            </div>
            <div>
                <span>Dealer Cards: <span ng-repeat="card in dealerCards">{{card}}</span></span>
            </div>
        </div>

        <div class="row center">
            <div class="col l4">
                <span>Player Sum of Cards: {{player.handSum}}</span>
            </div>
            <div class="col l4">
                <span>Cards: <span ng-repeat="card in player.hand">{{card}}</span></span>
            </div>
            <div class="col l4">
                <span>Wins: {{player.wins}}</span>
                <span>Loses: {{player.loses}}</span>
            </div>
        </div>

        <div class="row center" ng-hide="startGame">
            <a class="waves-effet waves-light light-green lighten-1 btn" ng-click="dealCards()">Deal</a>
        </div>

        <div class="row center" ng-show="startGame">
            <a class="waves-effect waves-light btn">Surrender</a>
            <a class="waves-effect waves-light btn" ng-click="hitCardForPlayer()">Hit</a>
            <a class="waves-effect waves-light btn">Stand</a>
            <a class="waves-effect waves-light btn">Double</a>
            <a class="waves-effect waves-light btn">Split</a>
        </div>
    </div>

</body>
</html>